@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<img src="~/content/images/gthilogo.jpg" height="150" width="155" />"

<h3>@ViewBag.Message</h3>


<p>GatoHaveIt is your resource for all cat themed merchandise!</p>
