@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<img src="~/content/images/gthilogo.jpg" height="150" width="155" />

<h3>@ViewBag.Message</h3>



<p>
    <h5>
        GatoHaveIt is the world’s best online gift shop. With over one million items,
        our purpose is to bring our customers’ passions to life by helping them express
        themselves and connect with others through unique designs and products
    </h5>
</p>

<p>
    <h5>
        GatoHaveIt was founded in 2012 and is the recognized pioneer of customizable
        products. We are headquartered in Minneapolis, MN. Our manufacturing facility,
        also located in Minneapolis, is the hub for fulfillment across the United States.
    </h5>
</p>
<p>
    <h5>
        Please visit our @Html.ActionLink("Contact", "Contact", "Home") Page to connect with Customer Service.
    </h5>
</p>
