
@{
    ViewBag.Title = "Contact Us";
}

<h3>@ViewBag.Message</h3>

<img src="~/content/images/gthilogo.jpg" height="150" width="175" />
<br />
<div class="row">
   
        <div class="col-sm-4">
            <address>
            <hr />
                One Whiskers Way<br />
                Ranson, WV 25438<br />
                <abbr title="Phone">Tel:</abbr>
                888-654-7813
                <br />
                <br />

                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@meow.com</a>
                <br /><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@meow.com</a>
            </address>
        </div>
       
    
        <div class="col-sm-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4638.339650990432!2d-77.84768899399095!3d39.32109573787217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b6018d2cc9df83%3A0x8d46a8737d1b279b!2sWhiskers+Way%2C+Ranson%2C+WV+25438!5e0!3m2!1sen!2sus!4v1481687229174" width="650" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

    </div>
<hr />
<h4>Leave us a message.</h4>
<div class="row">
@*<div class="col-lg-10">*@
    <form>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input id="name" type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
            <input id="phone" type="text" class="form-control" name="phone" placeholder="Phone">
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-comment"></i></span>
            <input id="comment" type="text" class="form-control" name="comment" placeholder="Comment">
        </div>
    </form>

    <input type="submit" value="Submit" class="btn btn-default" />
</div>
    @*</div>*@